
.autoridades {
    /*autoridades*/
    
    font-family: "roboto";
    text-align: center;
    font-style: italic;
}

.gestion {
    font-style: italic;
    text-decoration: underline;
    text-align: center;
}

.grilla { 
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "maps info";

}

.lista-autoridades {
    font-family: roboto;
    font-size: 30px;
}

.auto {
    height: 500px;
    width: 1000px;
}

