/* inicio*/
.botones {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    

}
.servicios {
    font-family: roboto;
    text-align: center;
    height: 100px;
    width: 100px;
    border: solid 3px black;
    margin-top: 50px;
    flex-direction: column;
}

.img-boton {
    width: 100px;
    height: 100px;
}

.text-boton {
    color: rgb(0, 0, 0);
    font-size: 15px;
}

.img-fluid {
    width: 100%;
}

.historia {
    font-family: roboto;
    text-align: center;
    color: black;
    margin-top: 150px;
    padding: 20px;
    background-color: rgb(192, 145, 143);
}

.historia-texto {
    text-align: center;
    text-align: justify;
}


